Source: intel-compute-runtime
Section: libs
Priority: optional
Maintainer: Intel Graphics Team <linux-graphics@intel.com>
XSBC-Original-Maintainer: Debian OpenCL Maintainers <pkg-opencl-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 11),
 cmake,
 libigsc-dev (>= 0.9.5),
 libigc-dev (>= 2.30.1),
 libigdfcl-dev (>= 2.30.1),
 libigdgmm-dev (>= 22.9.0),
 libva-dev,
 libze-dev (>= 1.28.0),
 libnl-3-dev,
 libnl-route-3-dev,
 libudev-dev,
 pkg-config
Standards-Version: 4.3.0
Homepage: https://github.com/intel/compute-runtime

Package: libze-intel-gpu1
Architecture: amd64
Provides: intel-level-zero-gpu
Breaks: intel-level-zero-gpu
Replaces: intel-level-zero-gpu
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libigc2 (>= 2.30.1),
 libigdfcl2 (>= 2.30.1),
 libnl-3-200,
 libnl-route-3-200,
 libze1
Description: Intel oneAPI L0 support implementation for Intel GPUs -- shared library
 Implementation for the Intel GPUs of the oneAPI L0 specification - which
 provides direct-to-metal interfaces to offload accelerator devices. Its
 programming interface can be tailored to any device needs and can be
 adapted to support broader set of languages features such as function
 pointers, virtual functions, unified memory, and I/O capabilities.
 .
 This package contains the shared library.

Package: libze-intel-gpu-dev
Architecture: amd64
Provides: intel-level-zero-gpu-dev
Breaks: intel-level-zero-gpu-dev
Replaces: intel-level-zero-gpu-dev
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libze-intel-gpu1
Description: Intel oneAPI L0 support implementation for Intel GPUs -- devel files
 Implementation for the Intel GPUs of the oneAPI L0 specification - which
 provides direct-to-metal interfaces to offload accelerator devices. Its
 programming interface can be tailored to any device needs and can be
 adapted to support broader set of languages features such as function
 pointers, virtual functions, unified memory, and I/O capabilities.
 .
 This package contains the development headers for libze-intel-gpu1.

Package: intel-opencl-icd
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ocl-icd-libopencl1,
 libigc2 (>= 2.30.1),
 libigdfcl2 (>= 2.30.1),
Breaks:
 intel-opencl
Replaces:
 intel-opencl
Provides:
 opencl-icd
Description: Intel graphics compute runtime for OpenCL
 The Intel(R) Graphics Compute Runtime for OpenCL(TM) is an open source
 project to converge Intel's development efforts on OpenCL(TM) compute
 stacks supporting the GEN graphics hardware architecture.
 .
 Supported platforms - OpenCL 3.0, Production:
  - DG1
  - Intel Core Processors with Xe LP (Gen12) GPU (Tiger Lake, Rocket Lake)
  - Intel Core Processors with Xe (Gen12.2) GPU (Alder Lake)
  - Intel Core Processors with Xe LPG GPU (Meteor Lake, Arrow Lake)
  - Intel Core Processors with Xe LPGPLUS GPU (Arrow Lake)
  - Intel Core Processors with Xe HPG GPU (DG2)
  - Intel Core Processors with Xe HPC GPU (Ponte Vecchio)
  - Intel Core Processors with Xe2 LPG GPU (Lunar Lake)
  - Intel Core Processors with Xe2 HPG GPU (Battlemage)

Package: intel-ocloc
Architecture: any-amd64
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libigc2 (>= 2.30.1),
 libigdfcl2 (>= 2.30.1)
Breaks: intel-opencl-icd (<< 24.31.30508.14)
Replaces: intel-opencl-icd (<< 24.31.30508.14)
Description: Tool for managing Intel Compute GPU device binary format
 ocloc is a tool for managing Intel Compute GPU device binary format.
 It can be used for generation as well as manipulation of such binary files.

Package: intel-ocloc-dev
Architecture: any-amd64
Depends: ${shlibs:Depends},
 ${misc:Depends},
 intel-ocloc
Breaks: intel-opencl-icd (<< 24.31.30508.14)
Replaces: intel-opencl-icd (<< 24.31.30508.14)
Description: Tool for managing Intel Compute GPU device binary format -- devel files
 ocloc is a tool for managing Intel Compute GPU device binary format.
 It can be used for generation as well as manipulation of such binary files.
 .
 This package includes the development headers for intel-ocloc.
