#!/usr/bin/make -f
NEO_MAJOR = 25
NEO_MINOR = 27
NEO_BUILD = 34303.6
build_id = 34303
build_hf_id = 6


export DEB_BUILD_MAINT_OPTIONS	= hardening=+all

%:
	dh $@ --builddir build/

override_dh_strip:

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DNEO_OCL_VERSION_MAJOR=$(NEO_MAJOR) -DNEO_OCL_VERSION_MINOR=$(NEO_MINOR) -DNEO_VERSION_BUILD=$(NEO_BUILD) \
		-DNEO_VERSION_BUILD=${build_id} -DNEO_VERSION_HOTFIX=${build_hf_id} \
		-DL0_INSTALL_UDEV_RULES=1 \
		-DNEO_ENABLE_i915_PRELIM_DETECTION=TRUE \
		-DNEO_ENABLE_I915_PRELIM_DETECTION=TRUE \
		-DNEO_DISABLE_MITIGATIONS=TRUE \
		-DNEO_ENABLE_XE_EU_DEBUG_SUPPORT=TRUE \
		-DNEO_ENABLE_XE_PRELIM_DETECTION=TRUE \
		-Wno-dev
