#!/usr/bin/make -f

%:
	dh $@ --buildsystem=meson+ninja

override_dh_auto_configure:
	dh_auto_configure -- \
		-Duse_system_levelzero=true \
		-Duse_system_igsc=true

override_dh_install:
	dh_install --list-missing

