Source: libvpl-tools
Section: graphics
Priority: optional
Maintainer: Shane McKee <shane.mckee@canonical.com>
XSBC-Original-Maintainer: Intel Graphics Team <linux-graphics@intel.com>
Build-Depends: debhelper-compat (= 13),
 build-essential,
 cmake,
 libdrm-dev,
 libpciaccess-dev,
 libva-dev (>= 2.22),
 libvpl-dev (>= 2.15.0),
 libwayland-dev,
 libx11-dev,
 libx11-xcb-dev,
 libxcb-dri3-dev,
 libxcb-present-dev,
 pkg-config,
 wayland-protocols,
Standards-Version: 4.6.0
Homepage: https://github.com/intel/libvpl-tools
Vcs-Browser: https://github.com/intel/libvpl-tools
Vcs-Git: https://github.com/intel/libvpl-tools.git
Rules-Requires-Root: no

Package: libvpl-tools
Architecture: amd64
Depends:
 libvpl2 (>= 2.15.0),
 ${shlibs:Depends}, ${misc:Depends}
Description: Intel oneVPL GPU Runtime -- shared library
 Intel® Video Processing Library (Intel® VPL) tools provide access to hardware
 accelerated video decode, encode, and processing capabilities on Intel® GPUs
 from the command line.
